.centered { margin-left: auto; margin-right: auto; }
.center-justified { margin-left: auto; margin-right: right; text-align: center; }
.link { color:aqua; }

.screenmiddle {
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

h1,p {
    font-family: cursive;
}